<section class="live-stream-section">
  <div class="header-row">
    <h2 class="page-title">Live Games</h2>
    <div class="top-row">
      <button
        class="viallAllBtn"
        *ngFor="let sport of sports"
        (click)="loadSport(sport)"
        [class.active]="(selectedSport$ | async) === sport"
      >
        {{ sport.toUpperCase() }}
      </button>
    </div>
  </div>
  <div class="bottom-row">
    <osl-livestreaming-game-card
      *ngFor="let game of livestreamingGames$ | async"
      [game]="game"
    ></osl-livestreaming-game-card>
  </div>
  <h2 class="last-row-title">Previous Games</h2>
  <div class="last-row">
    <osl-livestreaming-previous-game-card
      *ngFor="let game of previousGames$ | async"
      [game]="game"
    ></osl-livestreaming-previous-game-card>
  </div>
</section>
