<div class="home-page">
  <section class="top-banner">
    <osl-upcoming-game-top-ddl></osl-upcoming-game-top-ddl>
    <osl-game-feed-top></osl-game-feed-top>
  </section>

  <section class="live-scores">
    <osl-live-scores></osl-live-scores>
  </section>

  <section class="live-games">
    <osl-home-livestreaming-games></osl-home-livestreaming-games>
  </section>

  <section class="featured-players">
    <osl-homepage-featured-players></osl-homepage-featured-players>
  </section>

  <section class="highlights">
    <osl-homepage-highlights></osl-homepage-highlights>
  </section>

  <section class="footer">
    <osl-footer-flux></osl-footer-flux>
  </section>
</div>

