<div class="container">
  <form [formGroup]="form" (submit)="submit()">
    <h1>please register</h1>
    <input
      formControlName="name"
      required
      class="form-control"
      placeholder="user name"
    />
    <input
      formControlName="email"
      required
      class="form-control"
      placeholder="email address"
    />
    <input
      formControlName="password"
      required
      class="form-control"
      placeholder="password"
    />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
