<h3>create new team</h3>

<form [formGroup]="newTeamForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="teamName">Team Name</label>
    <input
      type="text"
      class="form-control"
      id="teamName"
      formControlName="teamName"
    />
  </div>
  <div class="form-group">
    <label for="schoolName">School Name</label>
    <input
      type="text"
      class="form-control"
      id="schoolName"
      formControlName="schoolName"
    />
  </div>
  <div class="form-group">
    <label for="city">City</label>
    <input type="text" class="form-control" id="city" formControlName="city" />
  </div>
  <div class="form-group">
    <label for="state">State</label>
    <input
      type="text"
      class="form-control"
      id="state"
      formControlName="state"
    />
  </div>
  <div class="form-group">
    <label for="headCoachName">Head Coach</label>
    <input
      type="text"
      class="form-control"
      id="headCoachName"
      formControlName="headCoachName"
    />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>