.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, .2fr));
    grid-gap: 5px; /* Adjust spacing as needed */
  }
  
    
.game-feed-card{
    height: 60px;
    width: 200px;
    left: 0px;
    top: 3px;
    border-radius: 10px;
    padding-top: 10px; 
    background-color: white;
    color: #242424;
    border: 1px solid #ADB8B8

}

.header-text{
    text-align: center;
    font-size: small;
}

.feed-title{
    
    text-align: center;
    font-size: medium;
    
    
}

.pic-left{
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 10px; 
  border-radius: 5px;

  flex: none;
  order: 0;
  flex-grow: 0;

}


.pic-right{
   width: 20px;
   height: 20px;
   border-radius: 5px;
   margin-left: 12px;
   flex: none;
   order: 0;
   flex-grow: 0;
 }


 .game-feed{
  padding-top: 15px;
  padding-left: 20px;
}



  

