.custom-card {
  position: relative; /* Make the card position relative */
  width: 100%;
  max-width: 200px;
  height: 50px; /* Adjust the height as needed */
  border-radius: 8px;
  background-color: white;
  margin-left: 10px; /* Reduce left margin */
  margin-top: 17px;
  margin-bottom: 7px; /* Add margin bottom to reduce space at the bottom */
  color: black;
  display: flex;
  flex-direction: column;
}

.card-title {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
.card-content {
  position: absolute;
  top: 75%; /* Position it at the vertical center of the card */
  left: 55%; /* Position it at the horizontal center of the card */
  transform: translate(-50%, -50%); 
  width: 100%;
  padding: 10px;
}


.upcoming-games-select {
  background-color: #f9f9f9;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 8px 16px;
  font-size: 16px;
  color: black;
  width: 100%;
  max-width: 150px;
}

.mat-option {
  font-size: 16px;
  color: black;
}
