.custom-card {
  position: relative; /* Make the card position relative */
  width: 100%;
  max-width: 200px;
  height: 50px; /* Adjust the height as needed */
  border-radius: 8px;
  background-color: white;
  margin-left: 10px; /* Reduce left margin */
  margin-top: 17px;
  margin-bottom: 7px; /* Add margin bottom to reduce space at the bottom */
  color: black;
  display: flex;
  flex-direction: column;
}

.card-title {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
.card-content {
  position: absolute;
  top: 75%; /* Position it at the vertical center of the card */
  left: 55%; /* Position it at the horizontal center of the card */
  transform: translate(-50%, -50%); /* Move it back by half its own width and height */
  width: 100%;
  padding: 10px;
}


.upcoming-games-select {
  background-color: #f9f9f9;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 8px 16px;
  font-size: 16px;
  color: black;
  width: 100%;
  max-width: 150px;
}

.mat-option {
  font-size: 16px;
  color: black;
}


.mat-select
{
  outline: none !important;
}


.mat-select-value {
  color: black !important;
}


/* Override the focus outline mat-select */
.mat-select-panel.mat-primary.mat-select-panel-primary .mat-optgroup.mat-option:focus, 
.mat-select-panel.mat-primary.mat-select-panel-primary .mat-option.mat-active:focus {
    outline: none !important;
}



/* Override the focus outline for mat-select */
::ng-deep .mat-option.mat-active:focus {
  outline: none !important;
}

/* Override the focus outline for mat-select */
::ng-deep .mat-select.mat-select.ng-touched.ng-dirty.ng-invalid:focus .mat-select-trigger {
  outline: none !important;
}

/* Override the focus outline for mat-select */
.mat-select-panel.mat-primary .mat-option.mat-selected:focus, 
.mat-select-panel.mat-primary .mat-option.mat-selected:hover {
    background-color: #BDBDBD; /* Change background color when option is focused or hovered */
    color: #000000; /* Change text color when option is focused or hovered */
}


/* Override the focus outline for mat-select */
.mat-option:focus:not(.mat-option-disabled) {
  background-color: transparent !important; /* Change background color when option is focused */
  outline: none !important; /* Remove the outline */
}

/* Disable browser's default focus styling */
.mat-option:focus {
  outline: none;
}

/* Apply custom focus styling */
.mat-option:focus:not(.mat-option-disabled) {
  background-color: rgba(0, 0, 0, 0.1); /* Custom background color */
  /* Add any other custom styling for the focus state */
}


.mat-select .upcoming-games-select 
.ng-tns-c96-1 
ng-tns-c51-0 
ng-star-inserted{
  background-color: yellow !important;
}

