  <div class="card-title">
    <span class="upg-label">Upcoming Games</span>
  </div>

  <div class="card-content">
      <mat-select 
          class="upcoming-games-select" 
          [(value)]="selectedValue" 
          (selectionChange)="onSelectionChange($event)"
        >
        <mat-select-trigger>
          <i class="fas fa-chevron-down"></i>
        </mat-select-trigger>
        <mat-option class="black-text"
          *ngFor="let option of options" 
        [value]="option.value">{{ option.label }}</mat-option>
      </mat-select>
  </div>
