<mat-card class="custom-card">
    <mat-card-title class="card-title">Upcoming Games</mat-card-title>

  <div class="card-content">
    <mat-form-field>
      <mat-select  
          class="upcoming-games-select" 
          [(value)]="selectedValue" 
          (selectionChange)="onSelectionChange($event)"
        >
        <mat-option  *ngFor="let option of options"
         class="black-text"   
        [value]="option.value">{{ option.label }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-card>
