.top-banner{
    height: 140px;
    width: 1480px;
    max-width:  1480px;
    min-width: 720px;
    left: 0px;
    top: 72px;
    border-radius: 0px; 
    border-bottom: 1px solid #ECECEC;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
        linear-gradient(0deg, #ECECEC, #ECECEC);

}

.upcoming-game-ddl{
    margin-left: 40px;
    padding-top: 20px;
}


