.top-banner{
    height: 147px;
    width: 1440px;
    left: 0px;
    top: 72px;
    border-radius: 0px; 
    border-bottom: 1px solid #ECECEC;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
        linear-gradient(0deg, #ECECEC, #ECECEC);

}

.upcoming-games-top-banner{
    height: 51px;
    width: 168px;
    left: 0px;
    top: 0px;
    border-radius: [object Object]px;
    padding: 16px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
        linear-gradient(0deg, #ECECEC, #ECECEC);
        border: 1px solid #ADB8B8
}

