<header class="custom-navbar">
  <div class="navbar-content">
    <a class="logo" [routerLink]="['/']">OHIOSPORTSLIVE</a>

    <div class="search-container">
      <input
        type="text"
        placeholder="Search a game, team or player"
        [(ngModel)]="searchQuery"
        (keyup.enter)="submitSearch()"
      />
      <button class="search-button" type="button" aria-label="Search" (click)="submitSearch()">
        <i class="fas fa-search"></i>
      </button>
    </div>

    <nav class="nav-links">
      <a [routerLink]="['/basketball']">Basketball</a>
      <a [routerLink]="['/football']">Football</a>
      <a [routerLink]="['/volleyball']">Volleyball</a>
    </nav>

    <button class="account-tab" type="button" [routerLink]="['/profile']">
      <i class="fas fa-user"></i>
      <span>My account</span>
    </button>
  </div>
</header>



