<div class="custom-navbar">
  <div class="navbar-content">
    <span class="logo">OhioSportsLive</span>
    <div class="search-container">
      <input type="text" placeholder="Search game, player, team">
      <!-- <button type="button">
        <i class="fas fa-search"></i>
      </button> -->
    </div>
    <ul class="nav-links">
      <li><a href="#">Basketball</a></li>
      <li><a href="#">Football</a></li>
      <li><a href="#">Volleyball</a></li>
    </ul>
    <div class="account-tab">
      My Account
      <i class="fas fa-user-circle"></i>
    </div>
  </div>
</div>



