.live-scores-section {
  position: relative;
  width: 100%;
  height: auto;
  background: #F1F1F1;
  border-radius: 12px;
  padding: 20px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
}

.top-row {
  display: flex;
  align-items: center;
}

.bottom-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px; /* Add some space between the top and bottom rows */
}

.example-card {
  width: calc(20% - 1px);
  height: 200px;
  margin: 0 10px 20px 0; /* Adjust margin to create space between cards */
  flex-shrink: 0;
}

.title-livescore {
  margin-left: 10px;
    color: #C4183B;

}

.viallAllBtn {
  position: absolute;
  /* Place the button 10px from the right edge of the container */
  right: 120px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .example-card {
    width: calc(50% - 20px); /* Adjust width for two cards in a row */
  }
}

@media screen and (max-width: 576px) {
  .example-card {
    width: calc(100% - 20px); /* Adjust width for single card in a row */
  }
}
