<div class="container">
    <div class="row">
    <section class="live-scores-section">
      <img 
          src="assets/images/livescore-section-homePg/livescore-header-img.png" 
          alt="Live Scores"
          class="top-left-img"
      > 
      <span class="title-ls">LiveScores</span>  
    </section>
    <div>
        <a href="#" class="btn btn-primary">View All</a>
    </div>
</div>
    <section class="live-game-cards">   
      <div class="card">
        <!-- <img src="path/to/image.jpg" class="card-img-top" alt="Card Image"> -->
        <div class="card-body">
          <h5 class="card-title">Card Title 1</h5>
          <p class="card-text">This is the content of Card 1.</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
      
  
      <!-- You can add more cards here if needed -->
      <!-- Example of another card -->
      <!--
      <div class="card">
        <img src="path/to/another-image.jpg" class="card-img-top" alt="Another Card Image">
        <div class="card-body">
          <h5 class="card-title">Card Title 2</h5>
          <p class="card-text">This is the content of Card 2.</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
      -->
    </section>
  </div>
  