<section class="live-scores-section">
  <div class="top-row">
    <img src="assets/images/livescore-section-homePg/livescore-header-img.png" alt="Live Scores" class="top-left-img">
    <span class="title-livescore">LiveScores</span>
    <button class="viallAllBtn">View All</button>
  </div>
  <div class="bottom-row">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Card 1</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        This is the content of Card 1.
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Card 2</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        This is the content of Card 2.
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Card 3</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        This is the content of Card 3.
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Card 4</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        This is the content of Card 4.
      </mat-card-content>
    </mat-card>
  </div>
</section>
