
.title-ls
{
    width: 128px;
height: 29px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
/* identical to box height */


/* Ohio Red */

color: #C4183B;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}