<div class="container">
  <div class="top-banner">
    <osl-upcoming-game-top-ddl
      class="upg-ddl">
    </osl-upcoming-game-top-ddl>
    <osl-game-feed-top
      class="game-feed">
    </osl-game-feed-top>
    <osl-live-scores
       class="live-scores">
    </osl-live-scores>
  </div>


  <!-- <osl-game-feed-top-banner-container></osl-game-feed-top-banner-container> -->
  <!-- <div class="row game-row-todays-games">
    <div class="col 9">
      <todays-games-list></todays-games-list>
    </div>
  </div>
  <div class="row game-row-upcoming-games">
    <div class="col 9">
      <upcoming-games-list></upcoming-games-list>
    </div>
  </div>
  <div class="row game-row-previous-games">
    <div class="col 9">
      <previous-games-list></previous-games-list>
    </div>
  </div> -->
</div>
