<div class="container top-banner">
<div class="row">
    <div class="col-3">
        <mat-card class="upcoming-games-top-banner">
            <mat-card-content>
            <mat-label class="upcoming-games-label">Upcoming Games</mat-label>
              <mat-form-field>
                <mat-select class="upcoming-games-ddl">
                  <mat-option value="option1">Option 1</mat-option>
                  <mat-option value="option2">Option 2</mat-option>
                  <mat-option value="option3">Option 3</mat-option>
                </mat-select>
              </mat-form-field>
            </mat-card-content>
          </mat-card>
          
          
    </div>
</div>
</div>
