
* {
  font-family: Helvetica, sans-serif;
}


html, body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}




.mat-form-field-appearance-fill .mat-form-field-flex{
  background-color: rgb(212, 212, 212) ;
  color: black;
}


.mat-select-panel 
{
  background-color: white;
}

/* Set the font color for the selected option in mat-select */
::ng-deep .mat-select .mat-select-trigger .mat-option.mat-selected {
  color: black; /* Change this to the desired color */
}




