
* {
  font-family: Helvetica, sans-serif;
}


html, body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}




/* .mat-form-field-appearance-fill .mat-form-field-flex{
  background-color: #C4183B ;
} */

.mat-option-text
{
  background-color: white;
  margin: 0;
}
.mat-select{
    color: black;
}

.mat-select-panel 
{
  background-color: white;
}

.mat-select-value {
  color: black;
}

.mat-select-empty{
  color: black;
}


::ng-deep .mat-select-value-text {
  color: black;
}

.mat-option{
  color: black;
}