



/* everywhere else */
* {
  font-family: Helvetica, sans-serif;
}


html, body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}



/* .mat-form-field-appearance-fill .mat-form-field-flex{
  background-color: #C4183B ;
} */
